<div class="sidebar">
  <%= render partial: 'tagbar', locals: { tag_list: @tag_list } %>
  </ul>
</div>
<div class="index">
  <h2><%= @category.category_name %>一覧（全<%= @category_items.count %>件）</h2>
  <% @category_items.each do |category_item| %>
    <div class="post-image-item">
      <div class="post-image-item__image">
        <%= attachment_image_tag category_item, :image, format: "jpeg", width:"700", height:"auto" %>
      </div>
      <div class="post-image-item__user-name">
        <label >投稿者:</label>
        <%= link_to user_path(category_item.user) do %>
          <%= category_item.user.name %>
        <% end %>
      </div>
      <div class="post-image-item__category">
        <label >カテゴリー:</label>
         <%= category_item.category.category_name %>
      </div>
      <div class="post-image-item__category">
        <label >ペットのお名前:</label>
        <%= category_item.animal_name %>
      </div>
      <div class="post-image-item__introduction">
        <label >紹介文:</label>
        <%= category_item.introduction %>
      </div>
      <div class="post-image-item__tag">
        <label >タグ:</label>
        <% category_item.tags.each do |tag|%>
          <%= link_to tag.tag_name, tag_post_images_path(tag_id: tag.id),class:"label label-info" %>
          <%= "(#{tag.post_images.count})" %>
        <% end %>
      </div>
      <div class="post-image-item__comment">
        <label >コメント:</label>
         <%= category_item.comments.count %>件
      </div>
      <div class="post-image-item__show">
      	<%= link_to "詳細", post_image_path(category_item) %>
      </div>
    </div>
  <% end %>
</div>