<div class="sidebar col-sm-3">
  <h3>＃タグリスト</h3>
   <ul class="nav nav-pills nav-stacked">
    <% @tag_list.each do |list| %>
      <li><%= link_to list.tag_name, tag_post_images_path(tag_id: list.id) %>
      <%= "(#{list.post_images.count})" %></li>
    <% end %>
    <%= paginate @tag_list %>
  </ul>
</div>
<%= form_with(model: @post_image, url: post_images_path, local: true) do |f| %>
  <div class="post-image-form form-horizontal">
    <div class="post-image-form form-group">
      <% if @post_image.errors.any? %>
        <div id="error_explanation">
          <h2><%= @post_image.errors.count %>件のエラーが発生しました。</h2>
            <ul>
              <% @post_image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
  </div>
  <div class="post-image-form__image form-group">
    <div class="col-sm-9 col-sm-offset-3">
    	<!-- 「, multiple: true」複数画像選択 -->
      <%= f.attachment_field :image %>
      <%= attachment_image_tag @post_image, :image, format: "jpg" %>
    </div>
  </div>
  <br>
  <div class="post-image-form__category form-group">
    <label class="col-sm-3 control-label">カテゴリー</label>
      <div class="col-sm-9">
        <%= f.collection_select :category_id, Category.all, :id, :category_name, { prompt: '選択してください' }, class: 'form-control' %>
      </div>
  </div>
  <div class="post-image-form__animal-name form-group">
      <label class="col-sm-3 control-label">ペットの名前</label>
      <div class="col-sm-9">
        <%= f.text_field :animal_name, class:"form-control", placeholder:"名前" %>
      </div>
  </div>
  <div class="post-image-form__comment form-group">
    <label class="col-sm-3 control-label">紹介文</label>
    <div class="col-sm-9">
      <%= f.text_area :introduction, class:"form-control", rows:"3", placeholder:"ここにコメント" %>
    </div>
  </div>
  <br>
  <div class="post-image-form__tag form-group">
    <label class="col-sm-3 control-label">タグ</label>
    <div class="col-sm-9">
      <p> スペースを入力することで複数のタグを付けることができます。</p>
      <p> 例：柴犬 オス 子犬</p>
      <%= f.text_field :tag_name %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "送信", class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>