<!DOCTYPE html>
<html>
  <head>
    <title>RenFa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/de5eed1ebf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header>
      <div class="container">
        <ul class="header-nav nav nav-pills">
          <!-- ユーザがログインしているか調べる -->
          <% if user_signed_in? %>
            <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
            <li><%= link_to 'マイページ', user_path(current_user.id), class: "header-nav-item" %> </li>
            <li><%= link_to "ログアウト", logout_path, class: 'glyphicon glyphicon-log-out logout header-nav-item' %></li>
          <% else %>
            <li><%= link_to "会員登録", new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up header-nav-item' %> </li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in header-nav-item' %></li>
          <% end %>
        </ul>
      </div>
    </header>
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="error"><%= error %></p>

  <%= yield %>

</div>
</body>
</html>
